// SPDX-License-Identifier: GPL-2.0-only
/*
 * at91sam9263ek.dts - Device Tree file for Atmel at91sam9263 reference board
 *
 *  Copyright (C) 2012 Jean-Christophe PLAGNIOL-VILLARD <plagnioj@jcrosoft.com>
 */
/dts-v1/;
#include "at91sam9263.dtsi"

/ {
	model = "Atmel at91sam9263ek";
	compatible = "atmel,at91sam9263ek", "atmel,at91sam9263", "atmel,at91sam9";

	chosen {
		bootargs = "mem=64M root=/dev/mtdblock5 rw rootfstype=ubifs";
		stdout-path = "serial0:115200n8";
	};

	memory@20000000 {
		reg = <0x20000000 0x4000000>;
	};

	clocks {
		slow_xtal {
			clock-frequency = <32768>;
		};

		main_xtal {
			clock-frequency = <18432000>;
		};
	};

	ahb {
		apb {
			dbgu: serial@ffffee00 {
				status = "okay";
			};

			tcb0: timer@fff7c000 {
				timer@0 {
					compatible = "atmel,tcb-timer";
					reg = <0>, <1>;
				};

				timer@2 {
					compatible = "atmel,tcb-timer";
					reg = <2>;
				};
			};

			usart0: serial@fff8c000 {
				pinctrl-0 = <
					&pinctrl_usart0
					&pinctrl_usart0_rts
					&pinctrl_usart0_cts>;
				status = "okay";
			};

			usart1: serial@fff90000 {
				pinctrl-0 = <
					&pinctrl_usart1
					&pinctrl_usart1_rts>;
				rts-gpios = <&pioD 8 GPIO_ACTIVE_HIGH>;
				linux,rs485-enabled-at-boot-time;
				status = "okay";
			};

			usart2: serial@fff94000 {
				pinctrl-0 = <
					&pinctrl_usart2
					&pinctrl_usart2_rts>;
				rts-gpios = <&pioD 6 GPIO_ACTIVE_HIGH>;
				linux,rs485-enabled-at-boot-time;
				status = "okay";
			};
			macb0: ethernet@fffbc000 {
				phy-mode = "rmii";
				status = "okay";

				mdio {
					#address-cells = <1>;
					#size-cells = <0>;

					ethernet-phy@1 {
						reg = <1>;
						compatible = "ethernet-phy-id2000.5c90";
						interrupt-parent = <&pioE>;
						interrupts = <31 IRQ_TYPE_EDGE_FALLING>;
					};
				};
			};

			usb1: gadget@fff78000 {
				atmel,vbus-gpio = <&pioA 25 GPIO_ACTIVE_HIGH>;
				status = "okay";
			};

			mmc0: mmc@fff80000 {
				pinctrl-0 = <
					&pinctrl_board_mmc0
					&pinctrl_mmc0_clk
					&pinctrl_mmc0_slot1_cmd_dat0
					&pinctrl_mmc0_slot1_dat1_3>;
				status = "okay";
				slot@1 {
					reg = <1>;
					bus-width = <4>;
					cd-gpios = <&pioA 21 GPIO_ACTIVE_LOW>;
				};
			};

			pinctrl@fffff200 {
				mmc0 {
					pinctrl_board_mmc0: mmc0-board {
						atmel,pins =
							<AT91_PIOA 21 AT91_PERIPH_GPIO AT91_PINCTRL_PULL_UP_DEGLITCH>;	/* PA21 gpio CD pin pull up and deglitch */
					};
				};

				mmc1 {
					pinctrl_board_mmc1: mmc1-board {
						atmel,pins =
							<AT91_PIOE 22 AT91_PERIPH_GPIO AT91_PINCTRL_PULL_UP_DEGLITCH>;	/* PE22 gpio CD pin pull up and deglitch */
					};
				};

				spi1 {
					pinctrl_ads7843: ads7843-0 {
						atmel,pins =
							<AT91_PIOA 15 AT91_PERIPH_GPIO 0>;	/* PA15 IRQ1 pin */
					};
				};

				i2c-gpio-0 {
					pinctrl_wd_aux: wd-0 {
						atmel,pins =
							<AT91_PIOD 14 AT91_PERIPH_GPIO 0>;	/* PD14 WD output GPIO */
					};
				};
			};

			mmc1: mmc@fff84000 {
				pinctrl-0 = <
					&pinctrl_board_mmc1
					&pinctrl_mmc1_clk
					&pinctrl_mmc1_slot0_cmd_dat0
					&pinctrl_mmc1_slot0_dat1_3>;
				status = "okay";
				slot@0 {
					reg = <0>;
					bus-width = <4>;
					cd-gpios = <&pioE 22 GPIO_ACTIVE_LOW>;
				};
			};

			spi0: spi@fffa4000 {
				status = "okay";
				cs-gpios = <&pioA 5 0>, <&pioA 3 0>, <0>, <0>;
				mtd_dataflash@0 {
					compatible = "atmel,at45", "atmel,dataflash";
					spi-max-frequency = <50000000>;
					reg = <0>;
				};

				sc16_uart: sc16is750@1 {
					compatible = "nxp,sc16is752";
					reg = <1>;
					interrupt-parent = <&pioD>;
					interrupts = <4 IRQ_TYPE_EDGE_FALLING>;
					clock-frequency = <3686400>;
					gpio-controller;
					#gpio-cells = <2>;
				};
			};

			spi1: spi@fffa8000 {
				status = "okay";
				cs-gpios = <&pioB 15 0>, <0>, <0>, <0>;
				ads7843@0 {
					reg = <0>;	/* CS0 */
					compatible = "ti,ads7843";
					pinctrl-0 = <&pinctrl_ads7843>;
					interrupt-parent = <&pioA>;
					interrupts = <15 IRQ_TYPE_EDGE_FALLING>;
					//interrupts = <31 IRQ_TYPE_EDGE_FALLING 0>;
					spi-max-frequency = <1000000>;
					pendown-gpio = <&pioA 15 GPIO_ACTIVE_HIGH>;
					ti,vref-mv = /bits/ 16 <3300>;
					/* ti,x-min = /bits/ 16 <0>;
					ti,x-max = /bits/ 16 <320>;
					ti,y-min = /bits/ 16 <0>;
					ti,y-max = /bits/ 16 <240>; */
					ti,x-plate-ohms = /bits/ 16 <600>;
					ti,pressure-max = /bits/ 16 <255>;
					/* ti,debounce-max = /bits/ 16 <10>;
					ti,debounce-tol = /bits/ 16 <3>;
					ti,debounce-rep = /bits/ 16 <1>;
					ti,settle-delay-usec = /bits/ 16 <150>;
					ti,penirq-recheck-delay-usecs = /bits/ 16 <1>; */

					wakeup-source;
				};
			};

			watchdog@fffffd40 {
				status = "okay";
			};
		};

		fb0: fb@700000 {
			display = <&display0>;
			status = "okay";

			display0: panel {
				bits-per-pixel = <16>;
				atmel,lcdcon-backlight;
				atmel,dmacon = <0x1>;
				atmel,lcdcon2 = <0x80009802>;
				atmel,guard-time = <1>;

				display-timings {
					native-mode = <&timing0>;
					timing0: timing0 {
						clock-frequency = <6500000>;
						hactive = <320>;
						vactive = <240>;
						hback-porch = <8>;
						hfront-porch = <20>;
						vback-porch = <16>;
						vfront-porch = <4>;
						hsync-len = <60>;
						vsync-len = <2>;
						pixelclk-active = <1>;
						hsync-active = <1>;
						vsync-active = <1>;
						de-active = <1>;
					};
				};
			};
		};

		ebi0: ebi@10000000 {
			status = "okay";

			nand_controller: nand-controller {
				status = "okay";
				pinctrl-0 = <&pinctrl_nand_cs &pinctrl_nand_rb>;
				pinctrl-names = "default";

				nand@3 {
					reg = <0x3 0x0 0x800000>;
					rb-gpios = <&pioB 30 GPIO_ACTIVE_HIGH>;
					cs-gpios = <&pioD 15 GPIO_ACTIVE_HIGH>;
					nand-bus-width = <8>;
					nand-ecc-mode = "soft";
					nand-on-flash-bbt;
					label = "atmel_nand";

					partitions {
						compatible = "fixed-partitions";
						#address-cells = <1>;
						#size-cells = <1>;

						data@0 {
							label = "data";
							reg = <0x0 0x10000000>;
						};
					};
				};
			};
		};

		usb0: ohci@a00000 {
			num-ports = <2>;
			status = "okay";
			atmel,vbus-gpio = <&pioB 1 GPIO_ACTIVE_LOW
					   &pioB 3 GPIO_ACTIVE_LOW
					  >;
			atmel,oc-gpio = <&pioB 0 GPIO_ACTIVE_LOW
					   &pioB 2 GPIO_ACTIVE_LOW
					  >;
		};
	};

	leds {
		compatible = "gpio-leds";

		usart0_en {
			label = "usart0_en";
			gpios = <&pioB 7 GPIO_ACTIVE_HIGH>;
		};

		usart0_shdn {
			label = "usart0_shdn";
			gpios = <&pioD 10 GPIO_ACTIVE_LOW>;
		};

		sc16_uart_en {
			label = "sc16_uart_en";
			gpios = <&sc16_uart 2 GPIO_ACTIVE_HIGH>;
		};

		sc16_uart_shdn {
			label = "sc16_uart_shdn";
			gpios = <&sc16_uart 3 GPIO_ACTIVE_LOW>;
		};
	};

	gpio_keys {
		compatible = "gpio-keys";

		wakeup {
			label = "wakeup";
			gpios = <&pioC 5 GPIO_ACTIVE_LOW>;
			linux,code = <272>;
			wakeup-source;
		};
	};

	i2c-gpio-0 {
		status = "okay";

		24c512@50 {
			compatible = "atmel,24c512";
			reg = <0x50>;
			pagesize = <128>;
		};

		rtc@68 {
			compatible = "st,m41t87";
			reg = <0x68>;
			pinctrl-0 = <&pinctrl_wd_aux>;
			pinctrl-names = "default";
			/* interrupt-parent = <&pioC>;
			interrupts = <5 IRQ_TYPE_EDGE_FALLING>; */

			clock {
				compatible = "fixed-clock";
				#clock-cells = <0>;
				clock-frequency = <32768>;
			};
		};
	};
};
